// 后台导航条
.navbar.navbar-inverse(role='navigation')
  .navbar-header
    a.navbar-brand(href='/admin') wteam-xq
  ul.nav.navbar-nav(id='main-nav')
    li
      a(href='/admin/users' data-id="users") 用户组
    li
      a(href='/admin/tkd?tkd_type=rule' data-id="tkd") 三国杀FAQ
    li
      a(href='/admin/resume' data-id="resume") 个人简历
    li
      a(href='/admin/git_api' data-id="git_api") 常用git指令

  ul.nav.navbar-nav.navbar-right.clear-right
    if type == 'tkd'
      li
        a(href='/tkd' title="三国杀FAQ首页" target="_blank") 查看首页
    else if type == 'resume'
      li
        a(href='/resume' title="个人简历首页" target="_blank") 查看首页
    else if type == 'git_api'
      li
        a(href='/git_api' title="git_api首页" target="_blank") 查看首页
    else
      li
        a(href='/index' title="用户列表首页" target="_blank") 查看首页
    if user
      li
        a(href='#') 欢迎您，#{user.name}
      li
        a(href='/user/logout' title="注销") 注销
    else
      li
        a(href='/login' title="登录") 登录

//导入用户处理脚本
script(src="/js/header.js")
