doctype html
html(lang="zh-cn")
  head
    title= 'git_api主页'
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="stylesheet" type="text/css" href="/css/common.css")
  body
    h3.dev-tips git_api首页， 待开发。。。