doctype html
html(lang="zh-cn")
  head
    title= '个人主页'
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="stylesheet" type="text/css" href="/css/resume_index.css")
  body
    h3.dev-tips 个人主页首页， 待开发。。。