body {padding: 50px;font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;/*background-color: #ccc !important;*/}

a {color: #00B7FF;}
.qa-wrap{ position: relative; }
.admin-sprite-bg{ background:url('../images/admin_sprite_bg.png?v=1') no-repeat; }
.qa-close-btn{ position:absolute; top:-25px; right:80px; background-position: 1px 0px; width:35px; height:35px; border-radius: 50%; background-color:rgba(31,25,26,0.7) }
.qa-close-btn:hover{ background-position: -35px 0px; }
.bg-grey{background-color: #ccc !important;}
.red{color: red;}
.clear-right{margin-right: 0px !important;}
.unvisible{display: none;}
.unvisibility{opacity:0;filter:alpha(opacity=0);}
.loading-ico{width: 45px;height: 45px;}
/*站点间距*/
.mright-15{margin-right: 15px;}
.mleft-15{margin-left: 15px;}
.prelative{position: relative;}
.pabsolute{position: absolute;}
.back_sub_panel{ margin:0 15px; }

/*metro 风格颜色块*/
.tile{display: block;cursor: pointer;-webkit-perspective: 0;-webkit-transform-style: preserve-3d;-webkit-transition: -webkit-transform .2s;float: left;min-width: 75px;min-height: 75px;text-align: center;opacity: .75;background-color: #2e8bcc;z-index: 1;border: 4px solid #fff;color: #fff;}
.tile:hover{opacity: 1;}
.tile.tile-medium{width:150px;height: 150px;}
.tile.tile-pink{background-color: #e671b8;}
.tile.tile-green{background-color: #393;}
.tile.tile-red{background-color: #e51400;}
.tile.tile-teal{background-color: #00aba9;}
.tile-blue{background-color: #2e8bcc;}
.tile-yellow{background-color: #ffc40d;}
.tile-purple{background-color: #7b4f9d;}
.tile-lime{background-color: #8cbf26;}
.tile-magenta{background-color: #ff0097;}
.tile-turquoise{background-color: #1abc9c;}
.tile-green-sea{background-color: #16a085;}
.tile-emerald{background-color: #2ecc71;}
.tile a{text-decoration: none;}
.tile a:hover{text-decoration: none;}
.tile h1{color: #fff;}
/* 用户组样式*/
.ntnull-tips{color: red;font-size: 18px;}

/*选项卡样式*/
#mainmenu{width: 100%;margin-top: 15px;}
.admin-crumb{width: 100%;}
.menu-nav{width:100%;margin: 0px 0px 0px !important;background-color: #CFBAAA;}
.menu-nav li{padding: 0px !important;text-align: center !important;border-color: #357ebd !important;}
.sub-main{text-align: left;}

/*百度编辑器*/
.ue-group{height: 405px;}
.ue-container{height: 300px;}
.add-panel{position: relative;}
.upload-tips{line-height: 34px}
.upload-pro{height: 34px !important;}
.progress-bar{line-height:  34px !important;}
.upload-file{position: absolute;z-index: 100;}
.list-ico{width: 65px;height: 60px;}

/*后台三国杀 管理样式*/
.remove_card_btn{ margin-right:10px; }
.card_detial_list_panel .add_detail_btn{ margin-left:10px; }
.container .content{ height:15em; }


